minecraft/coremods
minecraft/essential
minecraft/logs
minecraft/saves
minecraft/screenshots
minecraft/server-resource-packs
minecraft/shaderpacks
minecraft/texturepacks
minecraft/XaeroWorldMap
minecraft/local
minecraft/*.log
minecraft/mods/memory_repo
minecraft/mods/*.jar
*/overrides/mods/*.jar
!minecraft/mods/vintagium-*.jar
!*/overrides/mods/vintagium-*.jar
