minecraft/

!minecraft/mods/vintagium-*.jar
!minecraft/scripts/
!minecraft/icon.png
!minecraft/config/defaultworldgenerator-port/
!minecraft/config/ftbquests/
!minecraft/config/warpdrive/
!minecraft/config/fluidlogged_api.cfg
!minecraft/config/GalaxySpace/
!minecraft/config/srparasites/
!minecraft/config/mwc.cfg
!minecraft/config/shouldersurfing.cfg
!minecraft/config/theoneprobe.cfg
!minecraft/config/xaerominimap.txt
!minecraft/options.txt
